.container {
    width: 320px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 30px;


    @media (min-width: 768px) and (max-width: 1399px) {
        width: 768px;
        padding-left: 15px;
        padding-right: 15px;
    }

    @media (min-width: 1400px) {
        width: 1400px;
        
    }

}