.section-way {
    background-color: #102135;
    color: #fff;
}

.section-way__title {
    font-weight: 900;
    font-size: 16px;
    line-height: 1.25;

    @media (min-width: 768px) and (max-width: 1399px) {
        font-size: 22px;
    }

    @media (min-width: 1400px) {
        font-size: 30px;
        margin-bottom: 60px;
    }

}

.section-way__boldtxt::before {
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    background: #00eaff;
    margin: 27px 0 19px;
}
.section-way__boldtxt {
    font-weight: 900;
    line-height: 1.571;

    @media (min-width: 768px) and (max-width: 1399px) {
        font-size: 16px;
    }

    @media (min-width: 1400px) {
        font-size: 18px;
    }
        
}

.section-way__txt {
    line-height: 1.571;

    @media (min-width: 768px) and (max-width: 1399px) {
        font-size: 16px;
    }

    @media (min-width: 1400px) {
        font-size: 18px;
    } 
}

.section-way__question {
    font-size: 18px;
    color: #00eaff;
    font-weight: 900;
    line-height: 1.5;
    

    @media (min-width: 768px) and (max-width: 1399px) {
        font-size: 40px;
    }

    @media (min-width: 1400px) {
        font-size: 48px;
        margin: 0;
        margin-bottom: 60px;
    }
}
.section-way__reverse {
    @media (min-width: 1400px) {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
}}

  .section-way__part-1 {
      @media (min-width: 1400px) {
            width: 468px;}

  }
  .section-way__part-2 {
      @media (min-width: 1400px) {
        display: inline-block;
        width: 670px;}
  }

.section-way__btn {
    background: #ff702a;
    color: #fff;
    padding: 30px 15px;
    text-align: center;
    margin: 26px auto 0;
    display: block;
    border: none;
    text-transform: uppercase;
    box-shadow: 0px 2px 10px 0px rgba(255, 107, 8, 0.59);
    font-weight: 900;
    font-family: 'acrom';
    
    @media (min-width: 768px) and (max-width: 1399px) {
        width: 530px;
        font-size: 18px;
    }

    @media (min-width: 1400px) {
        width: 680px;
        font-size: 30px;
    }

    &:hover {
        box-shadow: 0px 2px 10px 0px rgba(0, 234, 255, 0.59);
        text-shadow: 1px 1px 2px #00eaff, 0 0 1px rgba(0, 234, 255, 0.59);
    }
}
