.section-way {
    background-color: #102135;
    color: #fff;
    
}

.section-way__title::after {
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    background: #00eaff;
    margin: 27px auto 0;
}

.section-way__btn {
    background: #ff702a;
    color: #fff;
    padding: 30px 18px;
    text-align: center;
    margin: 26px auto 0;
    display: block;
    border: none;
    text-transform: uppercase;
    box-shadow: 0px 2px 10px 0px rgba(255, 107, 8, 0.59);
    font-size: 14px;
    font-weight: bold;
    

    &:hover {
        box-shadow: 0px 2px 10px 0px rgba(0, 234, 255, 0.59);
        text-shadow: 1px 1px 2px #00eaff, 0 0 1px rgba(0, 234, 255, 0.59);
    }
}
